{{> adminheader}}

<div class="row mt-3">
    <div class="col-12 text-right mb-2">
        <a href="/course/add" class="btn btn-primary btn-index">
            <i class="fas fa-plus"></i>
            Add new course
        </a>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-striped w-100" style="background-color: white;">
            <thead class="bg-dark text-white">
                <tr>
                   <th >image</th>
                    <th>Name</th>
                    <th>Show on site</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {{#each courses}}
                <tr >
                   
                    <td style="width:20% ">
            
                        <img src="/images/{{_id}}.png" style="max-width: 100%;"></img>
                    
                    </td>
                    <td >{{name}}</td>
                    <td>{{enabled}}</td>
                    <td>
                        <a href="/course/edit/{{id}}" class="btn btn-warning" title="Edit this course">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="/course/delete/{{id}}" class="btn btn-danger" title="Delete this course">
                            <i class="fas fa-times"></i>
                        </a>
                    </td>
                </tr>
               
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{> adminfooter}}