{{> adminheader}}

<div class="row mt-3">
      
    <div class="col-12 text-right mb-2">
        <a href="/admin/users" class="btn btn-secondary " >
           
            show active users
        </a>
       
    </div>
    
    <div class="col-12">
        <table class="table table-bordered table-striped w-100" style="background-color: white;">
            <thead class="bg-dark text-white">
                <tr>
                   
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>suspended</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
             {{#each users}}
                <tr>
                   <td>{{Fname}}</td>
                    <td>{{Lname}}</td>
                    <td>{{email}}</td>
                    <td> {{suspended}}</td>
                    <td>
                        <a href="/user/accept/{{_id}}" class="btn btn-success" title="accept this user">
                            <i class="fas fa-check"></i>
                        </a>
                        <a href="/user/delete/{{_id}}" class="btn btn-danger" title="Delete this user">
                            <i class="fas fa-times"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
    </div>
</div>

{{> adminfooter}}